.flex-container {
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}

h1 {
   font-size: 500%;
   display: inline-block; 
   text-align: center;
   background-color: green;
   width: 70%;
}

p {
   font-size: 200%;
}

nav {
   float: left;
   text-align: center; 
   background-color: red;
   block-size: 500px; 
   width: 15%;
}

aside {
   float: right; 
   text-align: center; 
   background-color: red;
   block-size: 500px;
   width: 15%;
}

section {
   display: inline-block;
   text-align: center;
   background-color: blue;
   block-size: 500px;
   width: 70%;
}
